<section>


    <% result.forEach(value => { %>
    <div class="input"> <img src='<%=value.img_url%>'>
        <h3> <%=value.title%> </h3>
        <h4> <%=value.author%></h4>
        <h3> <%=value.description%> </h3>
        <h4> <%=value.isbn%></h4>
        <h4> <%=value.bookshlef%></h4>

        <%}); %>
        <button id="update">update details </button>
        <form action="/add/<%=result[0].id%>?_method=put" method="post" id="update_form">
            <legend>Add a Book</legend>
            <input type="text" name="title" placeholder="<%=result[0].title%>" value="<%=result[0].title%>">
            <input type="text" name="authors" value="<%=result[0].author%>" >
            <input type="text" name="imageLinks" value="<%=result[0].img_url%>">
            <input type="text" name="isbn" value="<%=result[0].isbn%>">
            <input type="text" name="bookshlef" value="bookslef">

            <textarea name="description" cols="30" rows="10"><%=result[0].description%></textarea>
            <button type='submit'> Add book</button>
        </form>
<form action="/delete/<%=result[0].id%>?_method=delete" method="post">

    <button >remove details </button>
</form>
</section>


