<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="/public/style/icons.css">
    <link rel="stylesheet" href="/style/modules.css">
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/public//style/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <%- include ('../../layout/header.ejs') %>

    <h2> Search for title or author </h2>
    <% book.forEach(value => { %>
        <div class= "input">  <img src='<%=value.imageLinks%>'> 
        <h3> <%=value.title%> </h3>
        <h4>  <%=value.authors%></h4>
        <p> <%= value.description%></p>
        <h5 id = "isbn"> <%=value.isbn%> </h5>
        
        
        
        <form action="/books" method="post">
            <input type="text" name = "authors" value="<%=value.authors%>">
            <input type="text" name= "title" value="<%=value.title%>">
            <input type="text"  name= "isbn" value="<%=value.isbn%>">
            <input type="text"  name = "imageLinks" value="<%=value.imageLinks%>">
            
            <input type="text" name= "description" value="<%=value.description%>">
            <input type= text name="bookshlef">
            <button type="submit"  > SELECT THIS BOOK</button>
    
    
        </form>
    </div>
    
    <%}); %>
    
</body>
</html>